{% extends "base.html" %}
{% load static %}
{% block content %}

<link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans" rel="stylesheet">

<h1>
	About me
</h1>

<img src="{% static "portfolio/image/desk_img.png"%}" width="100%">

<div style="font-family: 'Quattrocento Sans', sans-serif;">
	<p style="font-size: 1.5em;">
	I'm Abhishek Chandratre a programmer currently studying at UNC charlotte. Previously I worked at two startups "MojoNetworks" and "Rolocule Games". At MojoNetworks I started to follow the UNIX way and at Rolocule I learnt how to learn :D.
	</p>
	<p style="font-size: 1.4em;">
	I know few things about vim, tmux and how to boost productivity using such tools, always interested in having great conversations.
	</p>
</div>



{% endblock content %}
